.sidebar-main-div{
    display: flex;
    /* flex-direction: row; */
    /* flex-basis: 100%; */
    width: 250px;
    height: 585px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: rgba(40, 40, 40, 0.8);
  
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    
}
ul li a{
    text-decoration: none;
    border-left: 3px solid transparent;
   
    color: #fff;
    padding: 10px 20px ;
   
    margin-top: 0.3rem;
    
}
ul li a{
    width: 220px;
}
ul li a:hover{
    background-color: #188fff46;
    color: #fff;
}

.active{
    background-color: #188fff46;
    color: #fff;
    border-left: 3px solid #1890ff;
 

}
.li-div{
    display: flex;
    align-items: center;
    
    
    
}
