




.layout__wrapper {
  
  border-radius: 3px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, .25);
  width: 100%;
  height: 89vh;
  overflow: auto;
  
}

.app-bar {
  
  border-radius: 3px;
}

.app-bar__title {
  color: var(--color-on-background);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.list {
  padding: 10px;
  list-style: none;
  margin: 0;
  min-height: 1.5rem;
  padding: 0;
  position: relative;
}

.list__item {
}

/* .card {
  background-color: rgba(128, 128, 128, 0.808);
  border-radius: 10px;
  cursor: pointer;
  color: hsl(228, 19%, 98%);
  padding: .66rem 1rem;
  position: relative;
} */
.card1 {
  background-color: #bdb7b7;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  padding: .66rem 1rem;
  position: relative;
  width: 155vh;
}

.list__item + .list__item {
  margin-top: .5rem;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center ;
  
  padding: 1rem 1.5rem;
}

.holder__title {
  
  font-size: large;
  border-radius: var(--border-radius-500);
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: .75rem 1rem;
}

.holder--tint-2 .holder__title {
  
}

.holder--tint-3 .holder__title {
  background-image: linear-gradient(90deg, #fe8080 33%, #fea380 100%);
}
.dropdown-project{
   padding: 10px;
  height: 4.7vh;
  width: 10.7%;
  
}
.holder__content{
  background-color: rgba(187, 185, 185, 0.247);
    height: 40vh;
    border-radius: 10px;
    overflow: auto;
    width: 100%;
    padding: 10px;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

/* .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
  }


.backlog-main-container{
  padding: 10px;
  height: 89vh;
  width: 100%;
  overflow: auto;
 
}


.sprint-container{
    background-color: #d8cecedc;
    height: 40vh;
    
    padding: 15px;
    
    
}

.backlog-container{
   background-color: #d8ceceef;
    height: 40vh;
    padding: 15px;
   
    
}
.sprint-data{
    background-color: rgba(187, 185, 185, 0.795);
    height: 30vh;
    border-radius: 10px;
    overflow: auto;
    
}
.backlog-data{
    background-color: rgba(187, 185, 185, 0.795);
    height: 30vh;
    border-radius: 10px;
    overflow: auto;
}

.dropdown-button{
    
} */